/*
* ===========================================
* BASIC RULES
* ===========================================
*/
body,
html {
  font-size: 16px;
}

div,
section,
main {
  position: relative;
}

textarea {
  resize: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
  box-shadow: 0;
  padding: 10px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*
* ===========================================
* FONT SIZES
* ===========================================
*/
h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
}

p {
  font-size: 1rem;
}

small {
  font-size: 85%;
}

.light {
  font-weight: 200;
}

.regular {
  font-weight: 400;
}

.bold,
b,
strong {
  font-weight: 700;
}

.italic,
i {
  font-style: italic;
}

.font-xsmall{
  font-size: .6rem;
}
.font-small {
  font-size: .8rem;
}
.font-default { 
  font-size: 1rem;
}
.font-big {
  font-size: 1.6rem;
}
.font-xbig {
  font-size: 2rem;
}

/*
* ===========================================
* GRID
* ===========================================
*/
.grid {
  display: grid;
  gap: 1.2rem;
  align-items: center;

  @for $i from 2 through 12 {
    &.c-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }

    &.r-#{$i} {
      row-gap: 1rem;
      grid-template-rows: repeat(#{$i}, 1fr);
    }
  }

  &.baseline {
    align-items: baseline;
  }

  &.start {
    align-items: start;
  }

  &.end {
    align-items: end;
  }

  &.stretch {
    &>* {
      align-self: stretch;
    }
  }
}

/*
* ===========================================
* FLEX
* ===========================================
*/
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  &.inline-flex {
    display: inline-flex;
  }

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-start {
    justify-content: start;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-end {
    justify-content: end;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.justify-evenly {
    justify-content: space-evenly;
  }

  &.aling-stretch {
    align-items: stretch;
  }

  &.aling-center {
    align-items: center;
  }

  &.aling-end {
    align-items: end;
  }
  
  &.aling-baseline {
    align-items: baseline;
  }
  &.aling-start{
    align-items: start;
  }


  .auto {
    flex: 1 auto;
  }
}

/*
* ===========================================
* GAP (12 COLUMN SISTEM)
* ===========================================
*/
@for $i from 0 through 12 {
  .gap-#{$i}{
    gap: #{$i}#{'rem'};
  }
  .rowGap-#{$i}{
    row-gap: #{$i}#{'rem'};
  }
  .colGap-#{$i}{
    column-gap: #{$i}#{'rem'};
  }
}

/*
* ===========================================
* MARGINS & PADDINGS
* ===========================================
*/
@for $i from 0 through 15 {
  //Positive Margins
  .m-#{$i} {
    margin: #{$i}#{rem};
  }

  .my-#{$i} {
    margin-top: #{$i}#{rem};
    margin-bottom: #{$i}#{rem};
  }

  .mx-#{$i} {
    margin-left: #{$i}#{rem};
    margin-right: #{$i}#{rem};
  }

  .mt-#{$i} {
    margin-top: #{$i}#{rem};
  }

  .mr-#{$i} {
    margin-right: #{$i}#{rem};
  }

  .mb-#{$i} {
    margin-bottom: #{$i}#{rem};
  }

  .ml-#{$i} {
    margin-left: #{$i}#{rem};
  }

  //Negative Margins
  .nM-#{$i} {
    margin: -#{$i}#{rem};
  }

  .nMy-#{$i} {
    margin-top: -#{$i}#{rem};
    margin-bottom: -#{$i}#{rem};
  }

  .nMx-#{$i} {
    margin-left: -#{$i}#{rem};
    margin-right: -#{$i}#{rem};
  }

  .nMt-#{$i} {
    margin-top: -#{$i}#{rem};
  }

  .nMr-#{$i} {
    margin-right: -#{$i}#{rem};
  }

  .nMb-#{$i} {
    margin-bottom: -#{$i}#{rem};
  }

  .nMl-#{$i} {
    margin-left: -#{$i}#{rem};
  }

  //Padding
  .p-#{$i} {
    padding: #{$i}#{rem};
  }

  .py-#{$i} {
    padding-top: #{$i}#{rem};
    padding-bottom: #{$i}#{rem};
  }

  .px-#{$i} {
    padding-left: #{$i}#{rem};
    padding-right: #{$i}#{rem};
  }

  .pt-#{$i} {
    padding-top: #{$i}#{rem};
  }

  .pr-#{$i} {
    padding-right: #{$i}#{rem};
  }

  .pb-#{$i} {
    padding-bottom: #{$i}#{rem};
  }

  .pl-#{$i} {
    padding-left: #{$i}#{rem};
  }
}

.mAuto {
  margin: 0 auto;
}

.mLAuto {
  margin-left: auto;
  margin-right: 0;
}

.mRAuto {
  margin-left: 0;
  margin-right: auto;
}

/*
* ===========================================
* OPACITY
* ===========================================
*/
@for $i from 0 through 9 {
  .op-#{$i} {
    opacity: #{'0.'}#{$i};
  }
}

/*
* ===========================================
* TEXT ALIGN
* ===========================================
*/
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}

/*
* ===========================================
* WIDTH & HEIGHTS
* ===========================================
*/
$initial: 5;

@for $i from 1 through 19 {
  $size: $initial + (5 * $i);

  .w-#{$size} {
    width: #{$size}#{"%"} ;
  }
  .h-#{$size} {
    height: #{$size}#{"%"} ;
  }
}


/*
* ===========================================
* DISPLAY
* ===========================================
*/

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-table {
  display: table;
}

.d-table-row {
  display: table-row;
}

.d-table-cell {
  display: table-cell;
}

.d-table-row-group {
  display: table-row-group;
}

.d-table-header-group {
  display: table-header-group;
}

.d-table-footer-group {
  display: table-footer-group;
}

.d-table-caption {
  display: table-caption;
}

.d-table-column {
  display: table-column;
}

.d-table-column-group {
  display: table-column-group;
}

.d-contents {
  display: contents;
}

.d-list-item {
  display: list-item;
}

.d-run-in {
  display: run-in;
}

.d-ruby {
  display: ruby;
}

.d-ruby-base {
  display: ruby-base;
}

.d-ruby-text {
  display: ruby-text;
}

.d-ruby-base-container {
  display: ruby-base-container;
}

.d-ruby-text-container {
  display: ruby-text-container;
}

.d-inline-table {
  display: inline-table;
}


/*
* ===========================================
* VERTICAL ALIGN
* ===========================================
*/
.vam {
  display: inline-block;
  vertical-align: middle;
}

.vab {
  display: inline-block;
  vertical-align: baseline;
}

.vat {
  display: inline-block;
  vertical-align: top;
}

/*
* ===========================================
* POSITION
* ===========================================
*/
.pAbsolute {
  position: absolute;
}

.pFixed {
  position: fixed;
}

.pStatic {
  position: static;
}

.pRelative {
  position: relative;
}

.pSticky {
  position: sticky;
}

/*
* ===========================================
* ZINDEX
* ===========================================
*/
@for $i from 1 through 10 {
  .zindex#{$i} {
    z-index: #{$i};
  }
}

/*
* ===========================================
* CURSOR
* ===========================================
*/
.pointer {
  cursor: pointer;
}

.grap {
  cursor: grab;
}

.cAuto {
  cursor: auto;
}

.notAllowed {
  cursor: not-allowed;
}

/*
* ===========================================
* CONTAINER
* ===========================================
*/
.container {
  width: 80dvw;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;

  .row{
    width: 95%;
    margin: 0 auto;
    padding: 0 10px;
  }
}

/*
* ===========================================
* COLORS
* ===========================================
*/

// BASIC COLORS FOR THE CLASSES AND VARIABLES
$colors_base: (
  "red": #d60e22,
  "green": #00c911,
  "blue": #0400ff,
  "cyan": #06b6d4,
  "indigo": #6366f1,
  "pink": #ec4899,
  "yellow": #ffc107,
  "purple": #ae00ff,
  "orange": #ff7300,
  "gray": #6b7280,
);

// CREATE A MAP TO GENERATE TEXTS AND BACKGROUND COLORS
$num_variations: 9;
$colors: ();

@each $base_name, $base_color in $colors_base {
  @for $i from 1 through $num_variations {
    // CHECK MIDDLE POINT (BASE COLOR)
    $percent: ($i - 5) * 10;

    // CREATE NEW COLOR
    $new_color: if( $percent >= 0, darken($base_color, abs($percent)), lighten($base_color, abs($percent)));

    // VARIABLE NAME
    $name: $base_name + ($i * 100);

    // CREATE MAP
    $colors: map-merge($colors, ($name: $new_color));
  }
}

// TEXT AND BACKGROUND COLORS
@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: $color;
  }

  @for $i from 1 through 5 {
    .border-#{$name}-#{$i} {
      border: #{$i}px solid $color; // Borda em todas as direções
    }
    .border-top-#{$name}-#{$i} {
      border-top: #{$i}px solid $color;
    }
    .border-right-#{$name}-#{$i} {
      border-right: #{$i}px solid $color;
    }
    .border-bottom-#{$name}-#{$i} {
      border-bottom: #{$i}px solid $color;
    }
    .border-left-#{$name}-#{$i} {
      border-left: #{$i}px solid $color;
    }
  }
}


/*
* ===========================================
* FORMS
* ===========================================
*/

label {
  font-size: .8rem;
  font-weight: 400;
}
input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  margin-top: .5rem;
  color: #000;
  font-size: 1rem;
  height: 30px;
  box-sizing: border-box;

  &::placeholder {
    color: #000;
    opacity: .5;
  }

  &[type="radio"] {
    border: 1px solid #000;
    &:checked{
      border-color: #000;
    }
  }
}
textarea{
  width: 100%;
  height: 5rem;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  margin-top: .5rem;
  color: #000;
  font-size: 1rem;
  box-sizing: border-box;


  &::placeholder {
    color: #000;
    opacity: .5;
  }
}

/*
* ===========================================
* BORDER RADIUS
* ===========================================
*/

@for $i from 2 through 50 {
  .border-radius-#{$i} {
    border-radius: #{$i}px;
  }
}
